/* General */
body {
   background-color: #333333;
   color: #fff;
}

ul, ol {
   list-style: none;
   padding-left: 0;
}

a {
   text-decoration: none;
}


/* Navigation */
.nav-links {
   padding: 1em 2em 0;
}

.flash-message {
   max-width: 30em;
   margin: 0 auto 2em auto;
}

.alert-success {
   background-color: #02c300;
}

.alert-danger {
   background-color: #FF0000;
}


/* Post */
.main-box {
   max-width: 700px;
   margin: 0 auto;
   padding-bottom: 1em;
}

.post-edit-form {
   position: relative;
   bottom: 15px;
}

.post {
   background-color: #1a1a1a;
   margin-bottom: 2em;
   border-radius: 10px;
   padding: 2em;
}

.post-edit-btn {
   padding-left: .7em;
}

.post-delete-btn {
   margin-left: 12px;
   color: #888;
}

.post-delete-btn:hover {
   color: #ff6f39;
}

.delete-post {
   margin: 0 10px;
   padding: 0 5px 2px 5px;
}

.form-heading {
   color: #ff6f39;
}

.author {
   color: #ff6f39;
}

.main-heading {
   font-size: 4em;
   margin-bottom: 0;
   text-align: center;
}

.main-logo {
   position: relative;
   bottom: 29px;
}

.full {
   font-size: 1.2em;
}

.post-created-at {
   padding-left: .8em;
   color: #888;
}


/* User */
.username {
   position: relative;
   top: 5px;
}

.input {
   padding: .5em;
}

.login-heading {
   width: 5em;
}

.login-btn {
   background-color: #0d6efd;
}

.login-btn:hover {
   background-color: #2f82fd;
}

.login-form {
   max-width: 20em;
   margin: 0 auto;
   padding: 2em;
   background-color: black;
   border-radius: 10px;
}

.forgot-password {
   padding-top: .8em;
   margin-bottom: 0;
}

.errors {
   color: #FF0000;
}

.forgot-password-form {
   background-color: black;
   border-radius: 1em;
   padding: 1.5em;
   text-align: left;
   position: absolute;
   left: 50%; 
   top: 50%; 
   transform: translate(-50%, -50%);
}

.forgot-password-btn {
   background-color: #0d6efd;
   padding: .5em .8em;
}

.forgot-password-btn:hover {
   background-color: #2f82fd;
}

.profile-box {
   background-color: #1a1a1a;
   padding: 1em;
   border-radius: 10px;
}

.profile-link:hover {
   color: #fff;
}

.profile-heading {
   color: #0d6efd;
}

.user-heading {
   text-align: center;
   color: black;
   text-transform: uppercase;
}


/* Comment */
.comment {
   margin: 1.2em 0;
}

.comments-count {
   padding-left: .5em;
   color: #ff6f39;
}

.comments-count:hover, 
.author:hover {
   color: #ff946c;
}

.comment-meta {
   display: flex;
   gap: .2em;
   padding-top: .2em;
}

.comment-date {
   color: black;
   padding-left: .2em;
}

.comments-heading {
   color: black;
   text-decoration: underline dashed;
}

.comments-box {
   max-width: 25em;
   margin: 0 auto;
}

.comment-edit-btn {
   padding-left: .5em;
   color: #ff6f39;
}

.comment-edit-btn:hover {
   color: black;
}

.comment-delete-btn {
   position: relative;
   left: 8px;
   bottom: 3px;
   padding: 0;
   color: #888;
}

.comment-delete-btn:hover {
   color: #ff6f39;
}

.comment-form-btn {
   margin-top: .7em;
}

.comment-add-form {
 margin-bottom: 2em;
}

.comment-add-btn {
   margin: .55em 0;
}

.comment-edit-form {
   position: absolute;
   left: 50%; 
   top: 50%; 
   transform: translate(-50%, -50%);
}

.no-comments {
   color: #0d6efd;
}

.textarea {
   width: 100%;
}


/* Tags */
.article-tags {
   margin: .5em 0 0;
}

.tags-input {
   color: #ff7b4a;
}

.tags-create {
   padding-top: .3em;
}

.tag-btn {
   padding: 0 5px 5px 5px;
}

.tags-delete-btn {
   position: relative;
   left: 5px;
   color: #FF0000;
}


/* Dropdown */ 
 .dropdown-content {
   display: none;
   position: absolute;
   z-index: 1;
 }
 
 .dropdown-content a {
   color: #fff;
   width: 5em;
   padding: 10px 0;
   display: block;
   border-bottom: 1px #fff solid;
 }
 
 .dropdown-content a:hover {
   color: #0dcaf0;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
